<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.englis_news.dao.PrivilegeMapper">
  <resultMap id="BaseResultMap" type="com.itcast.englis_news.common.Privilege">
    <!--@mbg.generated-->
    <!--@Table privilege-->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pid, pname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from privilege
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from privilege
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pid" keyProperty="pid" parameterType="com.itcast.englis_news.common.Privilege" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into privilege (pname)
    values (#{pname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="pid" keyProperty="pid" parameterType="com.itcast.englis_news.common.Privilege" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into privilege
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pname != null">
        pname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itcast.englis_news.common.Privilege">
    <!--@mbg.generated-->
    update privilege
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itcast.englis_news.common.Privilege">
    <!--@mbg.generated-->
    update privilege
    set pname = #{pname,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>